body {
    margin: 0;
    height: 100%;
    background-color: #131324;
    font-family: Sora;
    justify-content: center;
    align-items: center;
}

.welcome {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%vh;
    color: aliceblue;
    font-weight: 800;
    filter: opacity(0.50);
}

.name-desc {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name {
    /*background: linear-gradient(45deg, #ff1493, #10df7e, #652ec7, #fea444, #52fd00, #fea444, #652ec7, #10df7e, #ff1493);*/
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400%;
    font-size: 70px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: gradient 15s ease infinite;
    margin: 0;
    text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.Description {
    color: white;
}

strong {
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: gradient 15s ease infinite;
}


footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 25px 100px 25px 100px;
    bottom: 0;

}

.navbar {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.socialmedia {
    display: flex;
    justify-content: end;
}

.icons-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 15px;
}

.icons-list li a {
    font-size: 25px;
    color: aliceblue;
    font-weight: 800;
    filter: opacity(0.50);
}